html,body {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

h1, p {
    text-align: center;
    font-family: 'Lato',Helvetica, sans-serif;
}

h1 {
    font-size: 9em;
    margin: 0.3em;
    line-height: 1em;
}

p {
    font-size: larger;
}